{{!-- <div>
    <header class='p-4'>           
        <nav class='nav mb-3'>
            <a class='nav-link text-dark' href='#'>Home</a>
            <a class='nav-link text-dark' href='#'>Dashboard</a>
            <a class='nav-link text-dark' href='#'>Login</a>
            <a class='nav-link text-dark' href='#'>Logout</a>
        </nav>
        <h1 class='w-50 border border-dark text-center text-secondary p-3 bg-light rounded'>The Tech Blog</h1>
    </header>
</div> --}}

<div class='container p-3'>
    <div class='row border border-dark bg-light'>
        <div class='col bg-secondary text-white p-2' id='user-login'>Login</div>
        <form class='form login-form'>
            <div class='form-group p-3'>
                <label for='username-login'>Username</label>
                <input class='form-input' type='text' id='username-login'>
            </div>
            <div class='form-group p-3'>
                <label for='login-pw'>Password</label>
                <input class='form-input' type='text' id='login-pw'>
            </div>
            <div class='form-group p-3'>
                <button class= 'btn btn-secondary btn-lg btn-block' type='submit'>Login</button>
            </div>
            <div class='form-group p-3'>
                <a class='btn btn-link' href='#' role='button'>Sign Up Instead!</a>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/login.js"></script>
