<div class='container p-3'>
    <div class='row border border-dark bg-light'>
        <div class='col bg-secondary p-4'>
        <h1>My Dashboard</h1>
        </div>
    </div>
</div>

<div class='container p-3'>
    <div class='row border border-dark bg-light'>
        <div class='col bg-secondary text-white p-2'>
            <h3>Create New Post</h3>
            <form class='form new-blogpost-form'>
                <div class='form-group p-3'>
                    <label for='new-post-title'>Title:</label>
                    <textarea class='form-control' rows='1' id='new-post-title'></textarea>
                </div>
                <div class='form-group p-3'>
                    <label for='new-post-content'>Content:</label>
                    <textarea class='form-control' rows='5' id='new-post-content'></textarea>
                </div>
                {{!-- <a class='btn btn-outline-light btn-lg btn-block' href='/dashboard' role='button'>Create</a> --}}
                <button class= 'btn btn-outline-light btn-lg btn-block' type='submit'>Create</button>
            </form>
        </div>
    </div>
</div>

<script src='./js/dashboard.js'></script>