* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
  background-color: lightskyblue;
}

body {
  background-color:lightgray;
}

#blog-title {
  font-size: 20px;
}

#user-name-date {
  text-align: right;
}